<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="portfolio.css">

</head>

<body>
    <header>
        <h1>My Portfolio</h1>
    </header>
    <nav>
        <a href="#about">About Me</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
    <section id="about">
        <h2>About Me</h2>
        <p>Hello I'm Harshit Chowdhry currently studying in 3rd Semester in Parul University. I'm a passionate machine learning analyst.<br>I find analysing the algorithms on which machine work interseting and also to train them.</p>
    </section>

    <section id="projects">
        <h2>My Projects</h2>
        <div class="projects">
            <div class="project-card">
                <h3>Project 1</h3>
                <h4>Exploitation Detector</h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYVGCikRlKIiHNqS1ZdCOjh0FoyqBhGfNb4Q&s.jpg" alt="Exploitation Detector" width="200 px">
                <p>This project helps in statistical analysis of the data, study the patterns<br> in it to find any exploitations done by the customer.</p>
            </div>
            <div class="project-card">
                <h3>Project 2</h3>
                <h4>Flower Identifier</h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3gRBHh7CGtdMDu-uH7xoZ7GwvM3k8-Kbwhg&s" alt="Flower Identifier" width="200 px">
                <p>This project helps analysing the flower and give the name of the flower along with what it symbolizes.</p>
            </div>
        </div>
    </section>

    <section id="contact">
        <h2>Contact Me</h2>
        <p>If you'd like to collaborate or have any questions, feel free to reach out!</p>
        <p>Email: <a href="mailto:your-email@example.com">harshitchowdhry@gmail.com</a></p>
    </section>

    <footer>
        <p>&copy; My Portfolio W2024H</p>
    </footer>
</body>

</html>